OPENAI_API_KEY=YOUR_OPENAI_API_KEY # Replace YOUR_OPENAI_API_KEY with your actual OpenAI API key.
# You can get your OpenAI API key from https://platform.openai.com/account/api-keys

TOGETHER_API_KEY=YOUR_TOGETHER_API_KEY
# Replace YOUR_TOGETHER_API_KEY with your actual Together API key. Note that we use the same key for Llama 4 Scout, Deepseek R1, and Gemma 2 9B.
# You can get your Together API key from https://together.com/account/api-keys

ANTHROPIC_API_KEY=YOUR_ANTHROPY_API_KEY
# Replace YOUR_ANTHROPY_API_KEY with your actual Anthropy API key.
# You can get your Anthropy API key from https://www.anthropy.com/account/api-keys

GEMINI_API_KEY=YOUR_GEMINI_API_KEY
# Replace YOUR_GEMINI_API_KEY with your actual Gemini API key.
# You can get your Gemini API key from https://www.gemini.com/account/api-keys
